body {
  background-image: url('../image/dice.jpg');
  position: relative;
  background-size: cover;
  color : white;
}
.rules{
  display:none;
}
#rulbtn {
  float : right;
  color : blue;
  }
.row {
  margin-top: 200px;
  text-align: center;
}
.btn{
  color: black;
}
.gamePage{
  display :none;
}
.player1{
  border : 40px;
  border-width: thick;
}
.names{
  display : none;

}
#player1Name{
  color: black;
}
#player2Name{
  color: black;
}
.startButton{
  margin-top: 30%;
  float:right;
}
#homebtn{
  color : red;
}
