body {
  background-image: url('../image/dice.jpg');
  position: relative;
  background-size: cover;
  color : white;
  font-family: 'Creepster', cursive;
}
.rules{
  display:none;
}
#rulbtn {
  float : right;
  color : blue;
  }
#backbtn {
  color: blue;
}
.row {
  margin-top: 200px;
  text-align: center;
}
.btn{
  color: black;
}
.gamePage{
  display :none;
}
.player1{
  border : 40px;
  border-width: thick;
}
.names{
  display : none;

}
#player1Name{
  color: black;
}
#player2Name{
  color: black;
}
.startButton{
  margin-top: 30%;
  float:right;
}
#homebtn{
  color : red;
}
#start{
  -webkit-animation: glowing 1500ms infinite;
 -moz-animation: glowing 1500ms infinite;
 -o-animation: glowing 1500ms infinite;
 animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
 0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
 50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
 100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
 0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
 50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
 100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
 0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
 50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
 100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
 0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
 50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
 100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
}
